version: '3.8'

services:
  rails-app:
    image: iris-system
    container_name: rails-app
    build: .
    ports:
      - 8080:8080
    depends_on:
      - db
    networks:
      - app-network
    
  db:
    image: mysql:latest
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: irisdb
      MYSQL_USER: admin
      MYSQL_PASSWORD: qwerty

    volumes: 
    - db_data:/var/lib/mysql
    networks:
      - app-network

  nginx:
   image: nginx:latest
   container_name: nginx
   ports: 
   - "80:80" 
   volumes: 
   - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
   - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro
   depends_on: 
   - rails-app
   networks: 
   - app-network 

networks:
  app-network:
    driver: bridge
volumes:
  db_data:
    