version: '3.8'

services:
  app:
    image: iris-system
    container_name: app
    ports:
      - 8080:8080
    depends_on:
      - db
    
  db:
    image: mysql:latest
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: irisdb
      MYSQL_USER: admin
      MYSQL_PASSWORD: qwerty
 
    
  Nginx:
    image: nginx
    container_name: nginx
    ports:
      - 80:80
    depends_on:
      - app
    
