<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <%= render @post %>
    
    <div class="d-flex justify-content-between align-items-center pt-3">
      <div class="d-flex gap-2" role="group">
        <% if user_signed_in? %>
          <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-outline-primary' %>
          <%= button_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger' %>
        <% end %>
      </div>
      <%= link_to "Back to posts", posts_path, class: 'btn btn-outline-secondary' %>
    </div>
  </div>
</div>
